{
  "presets": ["@babel/preset-react"],
  "plugins": [
    [
      "babel-plugin-import",
      {
        "libraryName": "react-syntax-highlighter",
        "libraryDirectory": "dist/esm"
      },
      "highlighter"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "react-syntax-highlighter/dist/esm/languages/prism",
        "libraryDirectory": ""
      },
      "languages-prism"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "react-syntax-highlighter/dist/esm/languages/hljs",
        "libraryDirectory": ""
      },
      "languages-hljs"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "react-syntax-highlighter/dist/esm/styles/prism",
        "libraryDirectory": ""
      },
      "styles-prism"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "react-syntax-highlighter/dist/esm/styles/hljs",
        "libraryDirectory": ""
      },
      "styles-hljs"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/core",
        "libraryDirectory": "esm",
        "camel2DashComponentName": false
      },
      "core"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/icons",
        "libraryDirectory": "esm",
        "camel2DashComponentName": false
      },
      "icons"
    ],
    "@babel/plugin-transform-async-to-generator"
  ]
}
