.page {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.header {
  flex: none;
  height: 64px;
  display: flex;
  align-items: center;
  background-color: #f4f6f8;
  border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
  position: sticky;
  top: 0;
}

.header a {
  margin-left: 16px;
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
}

.header a:hover {
  opacity: 0.5;
  transition: opacity 0.15s ease-in;
}

.main {
  flex: auto;
  background-color: #fff;
}
