.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  flex-shrink: 0;
  height: 64px;
  display: flex;
  align-items: center;
  border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
}

.header a {
  margin-left: 16px;
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
}

.header a:hover {
  opacity: 0.5;
  transition: opacity 0.15s ease-in;
}

.content {
  flex-grow: 1;
}
